/* styles/_variables.scss */

$primary-color: #c8a377; // رنگ سازمانی طلایی/بژ
$bg-light: #F5F5F5;
$text-dark: #1a1a1a;
$text-gray: #666;

$max-width-layout: 1200px; // عرض ثابت برای الاین شدن کل سکشن‌ها
$padding-x: 2rem; // پدینگ ثابت برای کناره‌های صفحه در موبایل و تبلت